/* wildcard */
* {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

header,
main {
  display: flex;
}

.btn {
  width: 100%;
  border: 2px black solid;
  box-shadow: black 3px 3px;
  cursor: pointer;
}

.col-4 {
  flex: 4;
}

.col-2 {
  flex: 5;
  align-items: center;
}

.col-1 {
  flex: 1;
}

a {
  text-decoration: underline;
  color: #2b78e4;
}

/* navbar container */

header {
  align-items: center;
  justify-content: space-around;
  background-color: lightgray;
  margin-top: 1px;
  height: 75px;
  overflow: hidden;
}

/* Search bar */
#search {
  height: 45px;
  width: 50%;
  margin-top: auto;
}

input[name="search-bar"] {
  width: 100%;
}

#login {
  width: 10%;
  height: 45px;
  margin-top: auto;
}

.btn.login {
  background-color: #2b78e4;
  color: white;
  height: 28px;
}

.btn.login:hover {
  background-color: blue;
}

/* Content Container */

main {
  margin-top: 3vh;
  height: 80vh;
  gap: 5%;
}

.main,
.col,
.row {
  display: flex;
}

.row {
  height: 50%;
  border: 2px solid black;
}

/* Left Column */
.col-4 {
  flex-direction: column;
  gap: 20px;
}

.row {
  gap: 15px;
}

.row .col-1 {
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  align-items: center;
  overflow: hidden;
  margin: 5% auto;
}

.row .col h3 {
  margin-top: -20px;
  font-weight: lighter;
  font-style: italic;
}

.row .col h4 {
  font-weight: lighter;
  font-size: smaller;
}

h4 span {
  font-style: italic;
}

.btn.like {
  margin: 5% auto;
  height: 28px;
  width: 60%;
  background-color: #ffd966;
  color: black;
}

.btn.like:hover {
  background-color: #ffbf00;
}

.row .col-2 {
  overflow: auto;
}

/* Right Column */
.col-1 .row {
  flex-direction: column;
  justify-content: center;
  height: 20%;
  padding: 16px;
  font-size: larger;
  overflow: auto;
}

.col-1 .row span {
  font-weight: bolder;
}

.btn.def {
  background-color: #93c47d;
  color: black;
  height: 32px;
}

.btn.def:hover {
  background-color: green;
}
